In [10]:
#Dependencies
import os
import csv
import pandas as pd
import numpy as np

In [11]:
#Store filepaths
draft_RB = "Resources/Draft_Results_1987-2015_RB.csv"
draft_rb_df = pd.read_csv(draft_RB)

draft_LB = "Resources/Draft_Results_1987-2015_LB.csv"
draft_lb_df = pd.read_csv(draft_LB)

combine_RB = "Resources/Combine_Data_1987-2019_RB.csv"
combine_rb_df = pd.read_csv(combine_RB, encoding = "ISO-8859-1")

combine_LB = "Resources/Combine_Data_1987-2019_LB.csv"
combine_lb_df = pd.read_csv(combine_LB, encoding = "ISO-8859-1")

In [12]:
#Create boolean for whether player is in HOF or not
hof_rb = draft_rb_df['Player'].str.contains('HOF')
hof_lb = draft_lb_df['Player'].str.contains('HOF')

#Add new HOF column with values based on boolean
draft_rb_df['HOF'] = np.where(hof_rb, 'Y', 'N')
draft_lb_df['HOF'] = np.where(hof_lb, 'Y', 'N')

#Remove 'HOF' from player name
draft_rb_df['Player'] = draft_rb_df['Player'].map(lambda x: x.rstrip(' HOF'))
draft_lb_df['Player'] = draft_lb_df['Player'].map(lambda x: x.rstrip(' HOF'))

In [13]:
#Rename column name Player to Name, and College/Univ to College
draft_rb_df = draft_rb_df.rename(index=str, columns={'Player':'Name', 'College/Univ':'College'})
draft_lb_df = draft_lb_df.rename(index=str, columns={'Player':'Name', 'College/Univ':'College'})

In [14]:
#Create function to determine the class of each player
def player_class(c):
    if c['First4AV'] >= 50:
        return 'Top'
    elif c['First4AV'] < 20:
        return 'Bottom'
    else:
        return 'Mid'

In [15]:
#Create new column "Class" to determine whether player is top, mid, or bottom
draft_rb_df['Class'] = draft_rb_df.apply(player_class, axis=1)
draft_lb_df['Class'] = draft_lb_df.apply(player_class, axis=1)

In [16]:
#Merge draft and combine dfs on Name and College
rb_mrg_df = draft_rb_df.merge(combine_rb_df, how='inner', on=['Name', 'College'])
lb_mrg_df = draft_lb_df.merge(combine_lb_df, how='inner', on=['Name', 'College'])
list(rb_mrg_df)

['Player_Id',
 'Year_x',
 'Rnd',
 'Pick',
 'Tm',
 'Name',
 'Pos',
 'Position Standard',
 'First4AV',
 'Age',
 'To',
 'AP1',
 'PB',
 'St',
 'CarAV',
 'DrAV',
 'G',
 'Cmp',
 'Pass_Att',
 'Pass_Yds',
 'Pass_TD',
 'Pass_Int',
 'Rush_Att',
 'Rush_Yds',
 'Rush_TDs',
 'Rec',
 'Rec_Yds',
 'Rec_Tds',
 'Tkl',
 'Def_Int',
 'Sk',
 'College',
 'HOF',
 'Class',
 'Year_y',
 'POS',
 'Height\xa0(in)',
 'Weight\xa0(lbs)',
 'Hand Size\xa0(in)',
 'Arm Length\xa0(in)',
 'Wonderlic',
 '40\xa0Yard',
 'Bench Press',
 'Vert Leap\xa0(in)',
 'Broad Jump\xa0(in)',
 'Shuttle',
 '3Cone',
 '60Yd Shuttle']

In [19]:
#Include only required columns
rb_fltr_df = rb_mrg_df.filter(['Name', 'Pos', 'Year_x', 'Tm', 'First4AV', 'College', 'HOF', 'Class', 'Height\xa0(in)',
                              'Weight\xa0(lbs)', 'Hand Size\xa0(in)', 'Arm Length\xa0(in)', 'Wonderlic', '40\xa0Yard',
                              'Bench Press', 'Vert Leap\xa0(in)', 'Broad Jump\xa0(in)', 'Shuttle', '3Cone', '60Yd Shuttle'], axis=1)
rb_fltr_df = rb_fltr_df.rename(index=str, columns={'Year_x':'Year'})
lb_fltr_df = lb_mrg_df.filter(['Name', 'Pos', 'Year_x', 'Tm', 'First4AV', 'College', 'HOF', 'Class', 'Height\xa0(in)',
                              'Weight\xa0(lbs)', 'Hand Size\xa0(in)', 'Arm Length\xa0(in)', 'Wonderlic', '40\xa0Yard',
                              'Bench Press', 'Vert Leap\xa0(in)', 'Broad Jump\xa0(in)', 'Shuttle', '3Cone', '60Yd Shuttle'], axis=1)
lb_fltr_df = lb_fltr_df.rename(index=str, columns={'Year_x':'Year'})
list(rb_fltr_df)

['Name',
 'Pos',
 'Year',
 'Tm',
 'First4AV',
 'College',
 'HOF',
 'Class',
 'Height\xa0(in)',
 'Weight\xa0(lbs)',
 'Hand Size\xa0(in)',
 'Arm Length\xa0(in)',
 'Wonderlic',
 '40\xa0Yard',
 'Bench Press',
 'Vert Leap\xa0(in)',
 'Broad Jump\xa0(in)',
 'Shuttle',
 '3Cone',
 '60Yd Shuttle']

In [20]:
lb_fltr_df.head(25)

,Name,Pos,Year,Tm,First4AV,College,HOF,Class,Height (in),Weight (lbs),Hand Size (in),Arm Length (in),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,60Yd Shuttle
0,Patrick Willis,LB,2007,SFO,79,Mississippi,N,Top,73.10,242,9.75,34.00,NaN,4.53,22.0,39.0,119.0,4.46,7.23,11.90
1,Ray Lewis,LB,1996,BAL,74,Miami (FL),Y,Top,72.40,235,9.38,34.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Derrick Thomas,LB,1989,KAN,72,Alabama,Y,Top,74.50,234,NaN,NaN,NaN,4.58,NaN,NaN,NaN,NaN,NaN,NaN
3,Derrick Brooks,LB,1995,TAM,65,Florida State,Y,Top,72.30,229,10.75,32.50,NaN,4.71,NaN,NaN,NaN,NaN,NaN,NaN
4,DeMarcus Ware,LB,2005,DAL,64,Troy,N,Top,76.00,251,10.00,33.25,NaN,4.60,27.0,38.5,122.0,4.07,6.83,10.93
5,Zach Thomas,LB,1996,MIA,64,Texas Tech,N,Top,71.00,233,9.25,30.63,NaN,4.85,20.0,28.5,104.0,4.24,NaN,11.91
6,Von Miller,LB,2011,DEN,63,Texas A&M,N,Top,74.63,246,9.25,33.50,NaN,4.42,21.0,37.0,126.0,4.06,6.70,11.15
7,Lance Briggs,LB,2003,CHI,61,Arizona,N,Top,72.60,242,9.50,31.00,NaN,4.78,25.0,33.0,113.0,NaN,NaN,NaN
8,Brian Urlacher,LB,2000,CHI,60,New Mexico,Y,Top,75.90,258,9.88,33.00,NaN,4.61,27.0,34.0,122.0,4.18,6.94,11.10
9,Luke Kuechly,LB,2012,CAR,57,Boston College,N,Top,75.25,242,9.75,31.00,NaN,4.58,27.0,38.0,123.0,4.12,6.92,11.43
10,Clay Matthews,LB,2009,GNB,56,USC,N,Top,75.13,240,NaN,NaN,27.0,4.62,23.0,35.5,121.0,4.18,6.90,NaN
11,David Harris,LB,2007,NYJ,54,Michigan,N,Top,74.25,243,9.13,32.88,NaN,4.60,23.0,33.0,107.0,4.29,7.25,NaN
12,Randall Godfrey,LB,1996,DAL,52,Georgia,N,Top,73.90,237,9.63,32.63,NaN,NaN,22.0,34.0,112.0,NaN,NaN,NaN
13,Justin Houston,LB,2011,KAN,50,Georgia,N,Top,74.88,270,10.88,34.50,NaN,4.62,30.0,36.5,125.0,4.37,6.95,11.46
14,Bryan Cox,LB,1991,MIA,50,Western Illinois,N,Top,75.30,235,9.50,31.50,NaN,5.00,9.0,27.5,112.0,4.47,NaN,12.51
15,Bobby Wagner,LB,2012,SEA,49,Utah State,N,Mid,73.00,241,NaN,NaN,NaN,4.46,NaN,NaN,NaN,NaN,NaN,NaN
16,Jon Beason,LB,2007,CAR,49,Miami (FL),N,Mid,72.25,237,9.50,33.50,NaN,4.76,19.0,NaN,111.0,NaN,NaN,NaN
17,Dexter Coakley,LB,1997,DAL,49,Appalachian State,N,Mid,69.60,215,9.75,32.50,NaN,4.52,21.0,38.0,125.0,4.21,7.48,11.52
18,Kevin Hardy,LB,1996,JAX,49,Illinois,N,Mid,76.40,245,9.88,32.63,NaN,4.81,16.0,32.0,119.0,4.04,NaN,11.39
19,Chris Spielman,LB,1988,DET,48,Ohio State,N,Mid,72.00,234,9.25,NaN,NaN,4.90,23.0,32.5,109.0,4.13,NaN,11.97
20,Jerod Mayo,LB,2008,NWE,46,Tennessee,N,Mid,73.25,242,9.25,32.88,NaN,4.59,NaN,32.0,114.0,4.29,7.31,11.89
21,Lofa Tatupu,LB,2005,SEA,46,USC,N,Mid,71.90,238,10.00,31.63,NaN,4.84,23.0,35.0,113.0,4.16,7.31,NaN
22,Nick Barnett,LB,2003,GNB,45,Oregon State,N,Mid,73.60,236,9.38,31.88,NaN,4.69,32.0,34.5,123.0,4.07,6.97,11.23
23,Keith Bulluck,LB,2000,TEN,45,Syracuse,N,Mid,75.00,244,10.75,33.50,NaN,4.47,NaN,38.0,119.0,4.13,7.33,11.41
24,Al Wilson,LB,1999,DEN,44,Tennessee,N,Mid,71.80,239,8.75,31.50,NaN,4.56,17.0,33.0,116.0,4.25,7.31,NaN

In [21]:
#Print merged and filtered dataframes into new csvs
export_csv1 = rb_fltr_df.to_csv('Output/RBs_Fltr_Combine_Data.csv', index=False, header=True)
export_csv2 = lb_fltr_df.to_csv('Output/LBs_Fltr_Combine_Data.csv', index=False, header=True)

,Player_Id,Year_x,Rnd,Pick,Tm,Name,Pos,First4AV,Age,To,...,Hand Size (in),Arm Length (in),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,60Yd Shuttle
0,ThomTh00,1988,2.0,40,BUF,Thurman Thomas,RB,84,22.0,2000.0,...,8.75,NaN,NaN,4.47,13.0,33.0,114.0,4.21,NaN,11.39
1,TomlLa00,2001,1.0,5,SDG,LaDainian Tomlinson,RB,80,22.0,2011.0,...,9.00,31.00,NaN,4.43,18.0,40.5,124.0,4.21,6.84,11.19
2,WattRi00,1991,2.0,45,SFO,Ricky Watters,RB,74,22.0,2001.0,...,9.13,31.50,NaN,4.71,18.0,34.5,111.0,4.41,NaN,11.59
3,JameEd00,1999,1.0,4,IND,Edgerrin James,RB,73,21.0,2009.0,...,8.88,30.00,NaN,4.38,NaN,NaN,NaN,3.88,6.87,NaN
4,DaviTe00,1995,6.0,196,DEN,Terrell Davis,RB,70,22.0,2001.0,...,9.00,30.88,NaN,4.72,NaN,35.0,120.0,4.41,NaN,11.65