In [2]:
#Dependencies
import os
import csv
import pandas as pd
import numpy as np

In [3]:
#Store filepaths
combine_LB = "Output/LBs_Fltr_Combine_Data.csv"
combine_lb_df = pd.read_csv(combine_LB, encoding = "ISO-8859-1")
lb_avg = "Output/LBs_Averages.csv"
lb_avg_df = pd.read_csv(lb_avg)

In [4]:
combine_lb_df.head()

,Name,Pos,Year,Tm,First4AV,College,HOF,Class,HeightÂ (in),WeightÂ (lbs),Hand SizeÂ (in),Arm LengthÂ (in),Wonderlic,40Â Yard,Bench Press,Vert LeapÂ (in),Broad JumpÂ (in),Shuttle,3Cone,60Yd Shuttle
0,Patrick Willis,LB,2007,SFO,79,Mississippi,N,Top,73.1,242,9.75,34.00,NaN,4.53,22.0,39.0,119.0,4.46,7.23,11.90
1,Ray Lewis,LB,1996,BAL,74,Miami (FL),Y,Top,72.4,235,9.38,34.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Derrick Thomas,LB,1989,KAN,72,Alabama,Y,Top,74.5,234,NaN,NaN,NaN,4.58,NaN,NaN,NaN,NaN,NaN,NaN
3,Derrick Brooks,LB,1995,TAM,65,Florida State,Y,Top,72.3,229,10.75,32.50,NaN,4.71,NaN,NaN,NaN,NaN,NaN,NaN
4,DeMarcus Ware,LB,2005,DAL,64,Troy,N,Top,76.0,251,10.00,33.25,NaN,4.60,27.0,38.5,122.0,4.07,6.83,10.93

In [5]:
#Filter to only include 2015 drafted rbs
lbs_year = combine_lb_df [combine_lb_df['Year'] == 2015]

In [7]:
lbs_year.columns = ['Name', 'Pos', 'Year', 'Tm', 'First4AV', 'College', 'HOF', 'Class', 'Height (in)', 'Weight (lb)', 
                    'Hand Size (in)', 'Arm Length (in)', 'Wonderlic', '40 Yard', 'Bench Press', 'Vertical Leap (in)', 
                    'Broad Jump (in)', 'Shuttle', '3 Cone Drill', '60 Yard Shuttle']
del lbs_year['Wonderlic']
lbs_year.head()

,Name,Pos,Year,Tm,First4AV,College,HOF,Class,Height (in),Weight (lb),Hand Size (in),Arm Length (in),40 Yard,Bench Press,Vertical Leap (in),Broad Jump (in),Shuttle,3 Cone Drill,60 Yard Shuttle
293,Vic Beasley,OLB,2015,ATL,7,Clemson,N,Bottom,75.00,246,9.38,32.5,4.53,35.0,41.0,130.0,4.15,6.91,NaN
315,Stephone Anthony,ILB,2015,NOR,6,Clemson,N,Bottom,74.63,243,10.38,32.5,4.56,23.0,37.0,122.0,4.03,7.07,NaN
316,Benardrick McKinney,ILB,2015,HOU,6,Mississippi State,N,Bottom,76.13,246,9.00,33.0,4.66,16.0,40.5,121.0,4.27,7.21,NaN
317,Eric Kendricks,ILB,2015,MIN,6,UCLA,N,Bottom,72.25,232,9.63,31.0,4.61,19.0,38.0,124.0,NaN,NaN,NaN
336,Shaq Thompson,OLB,2015,CAR,5,Washington,N,Bottom,72.13,228,9.50,33.0,4.64,NaN,33.5,117.0,4.08,6.99,11.78

In [8]:
#Replace NaN with overall average for each category
lbs_year['Height (in)'].fillna(lb_avg_df['Overall Avg.'][0], inplace=True)
lbs_year['Weight (lb)'].fillna(lb_avg_df['Overall Avg.'][1], inplace=True)
lbs_year['Hand Size (in)'].fillna(lb_avg_df['Overall Avg.'][2], inplace=True)
lbs_year['Arm Length (in)'].fillna(lb_avg_df['Overall Avg.'][3], inplace=True)
lbs_year['40 Yard'].fillna(lb_avg_df['Overall Avg.'][4], inplace=True)
lbs_year['Bench Press'].fillna(lb_avg_df['Overall Avg.'][5], inplace=True)
lbs_year['Vertical Leap (in)'].fillna(lb_avg_df['Overall Avg.'][6], inplace=True)
lbs_year['Broad Jump (in)'].fillna(lb_avg_df['Overall Avg.'][7], inplace=True)
lbs_year['Shuttle'].fillna(lb_avg_df['Overall Avg.'][8], inplace=True)
lbs_year['3 Cone Drill'].fillna(lb_avg_df['Overall Avg.'][9], inplace=True)
lbs_year['60 Yard Shuttle'].fillna(lb_avg_df['Overall Avg.'][10], inplace=True)

C:\Users\sharv\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [9]:
lb_avg_df

,Category,Overall Avg.,Top 25 Avg.,Bottom 25 Avg.,Pct. Change(%),Weighted Pct.
0,Height (in),73.791818,73.5976,74.1160,0.701899,1.202232
1,Weight (lb),238.362069,240.3200,232.9600,3.110210,5.327256
2,Hand Size (in),9.503400,9.6516,9.4216,2.411761,4.130933
3,Arm Length (in),32.241508,32.5568,32.2108,1.068435,1.830047
4,40 Yard,4.728853,4.6664,4.8540,3.941011,6.750276
5,Bench Press,21.495256,21.9200,18.0000,19.639279,33.638716
6,Vertical Leap (in),33.651887,34.5600,31.1200,10.475030,17.941931
7,Broad Jump (in),115.589015,117.0000,110.6400,5.587770,9.570892
8,Shuttle,4.296758,4.2212,4.4460,5.187373,8.885080
9,3 Cone Drill,7.193533,7.1540,7.2844,1.806294,3.093872
10,60 Yard Shuttle,11.778400,11.5820,12.1096,4.453899,7.628766

In [10]:
#Create function for weighted score
def weighted_score(ht, wt, hand, arm, forty, bench, vert, broad, shuttle, three_cone, sixty_yard):
    return .01202232*ht + .05327256*wt + .04130933*hand + .01830047*arm + .03818695*(6-forty) + .51948175*bench + .20683399*vert + .10368907*broad + .00731344*(6-shuttle) + .03164428*(9 - three_cone) + .00634449*(13 - sixty_yard)

In [12]:
lbs_year['Weighted Score'] = weighted_score(lbs_year['Height (in)'], lbs_year['Weight (lb)'], lbs_year['Hand Size (in)'], 
                                            lbs_year['Arm Length (in)'], lbs_year['40 Yard'], lbs_year['Bench Press'], 
                                            lbs_year['Vertical Leap (in)'], lbs_year['Broad Jump (in)'], lbs_year['Shuttle'], 
                                            lbs_year['3 Cone Drill'], lbs_year['60 Yard Shuttle'])

C:\Users\sharv\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [14]:
highest_score = lbs_year.sort_values(by='Weighted Score', ascending=False)
highest_score

,Name,Pos,Year,Tm,First4AV,College,HOF,Class,Height (in),Weight (lb),Hand Size (in),Arm Length (in),40 Yard,Bench Press,Vertical Leap (in),Broad Jump (in),Shuttle,3 Cone Drill,60 Yard Shuttle,Weighted Score
293,Vic Beasley,OLB,2015,ATL,7,Clemson,N,Bottom,75.00,246,9.3800,32.500000,4.53,35.000000,41.000000,130.000000,4.150000,6.910000,11.7784,55.274156
413,Kyle Emanuel,OLB,2015,SDG,2,North Dakota State,N,Bottom,75.25,255,9.3800,31.000000,4.77,27.000000,34.000000,120.000000,4.250000,7.100000,11.7800,49.072663
474,Bryce Hager,ILB,2015,STL,1,Baylor,N,Bottom,72.75,234,9.0000,31.380000,4.60,26.000000,35.000000,117.000000,4.360000,7.150000,11.7784,47.295540
315,Stephone Anthony,ILB,2015,NOR,6,Clemson,N,Bottom,74.63,243,10.3800,32.500000,4.56,23.000000,37.000000,122.000000,4.030000,7.070000,11.7784,47.255239
519,Martrell Spaight,OLB,2015,WAS,0,Arkansas,N,Bottom,71.88,236,9.1300,32.750000,4.88,25.000000,35.000000,120.000000,4.296758,7.660000,11.7784,47.187285
337,Denzel Perryman,ILB,2015,SDG,5,Miami (FL),N,Bottom,70.75,236,9.5000,31.880000,4.78,27.000000,32.000000,113.000000,4.296758,7.193533,11.7784,46.884280
521,Max Valles,OLB,2015,OAK,0,Virginia,N,Bottom,76.63,251,9.3800,32.630000,4.83,21.495256,36.500000,121.000000,4.370000,7.590000,11.7784,46.648489
338,Kwon Alexander,OLB,2015,TAM,5,LSU,N,Bottom,72.75,227,9.2500,30.250000,4.55,24.000000,36.000000,121.000000,4.200000,7.140000,11.7784,46.498303
469,Damien Wilson,ILB,2015,DAL,1,Minnesota,N,Bottom,72.00,245,9.3800,33.750000,4.77,22.000000,37.000000,119.000000,4.200000,7.210000,11.6800,46.468114
409,Eli Harold,OLB,2015,SFO,2,Virginia,N,Bottom,75.13,247,9.3800,33.000000,4.60,21.495256,35.000000,123.000000,4.160000,7.070000,11.8100,46.347837
410,Lorenzo Mauldin,OLB,2015,NYJ,2,Louisville,N,Bottom,75.63,259,9.8800,33.000000,4.85,23.000000,32.000000,112.000000,4.580000,7.470000,11.7784,46.009303
524,Mark Nzeocha,OLB,2015,DAL,0,Wyoming,N,Bottom,74.38,232,10.0000,33.000000,4.56,24.000000,33.651887,115.589015,4.296758,7.193533,11.7784,45.816057
360,Jordan Hicks,OLB,2015,PHI,4,Texas,N,Bottom,73.38,236,10.0000,32.000000,4.68,20.000000,38.000000,124.000000,4.150000,6.780000,11.3400,45.704720
359,Hau'oli Kikaha,OLB,2015,NOR,4,Washington,N,Bottom,74.38,253,9.6300,32.500000,4.74,21.495256,33.651887,115.589015,4.296758,7.193533,11.7784,45.602304
411,Ramik Wilson,ILB,2015,KAN,2,Georgia,N,Bottom,74.00,237,10.6300,33.000000,4.77,23.000000,35.000000,111.000000,4.510000,7.193533,11.7784,45.377820
522,Amarlo Herrera,ILB,2015,IND,0,Georgia,N,Bottom,72.63,244,9.6300,32.750000,4.83,23.000000,32.000000,111.000000,4.270000,7.350000,11.7784,45.062384
471,David Mayo,LB,2015,CAR,1,Texas State,N,Bottom,73.00,242,9.5034,32.241508,4.83,21.495256,33.651887,115.589015,4.296758,7.193533,11.7784,44.986318
470,Neiron Ball,OLB,2015,OAK,1,Florida,N,Bottom,74.38,236,9.3800,33.630000,4.68,22.000000,33.651887,115.589015,4.296758,7.193533,11.7784,44.971519
317,Eric Kendricks,ILB,2015,MIN,6,UCLA,N,Bottom,72.25,232,9.6300,31.000000,4.61,19.000000,38.000000,124.000000,4.296758,7.193533,11.7784,44.910711
361,Jake Ryan,OLB,2015,GNB,4,Michigan,N,Bottom,74.38,240,9.3800,31.000000,4.65,20.000000,34.500000,120.000000,4.200000,7.110000,11.6500,44.735616
336,Shaq Thompson,OLB,2015,CAR,5,Washington,N,Bottom,72.13,228,9.5000,33.000000,4.64,21.495256,33.500000,117.000000,4.080000,6.990000,11.7800,44.373942
316,Benardrick McKinney,ILB,2015,HOU,6,Mississippi State,N,Bottom,76.13,246,9.0000,33.000000,4.66,16.000000,40.500000,121.000000,4.270000,7.210000,11.7784,44.359087
472,Tony Steward,OLB,2015,BUF,1,Clemson,N,Bottom,73.00,230,9.5034,32.241508,4.67,21.495256,33.651887,115.589015,4.296758,7.193533,11.7784,44.353157
518,Dante Fowler,OLB,2015,JAX,0,Florida,N,Bottom,74.63,261,9.5000,33.750000,4.60,19.000000,32.500000,112.000000,4.320000,7.400000,11.8900,44.140299
520,Matthew Wells,LB,2015,NWE,0,Mississippi State,N,Bottom,73.00,222,9.5034,32.241508,4.45,21.495256,33.651887,115.589015,4.296758,7.193533,11.7784,43.935377
523,Reshard Cliett,OLB,2015,HOU,0,South Florida,N,Bottom,74.00,221,9.5034,32.241508,4.67,21.495256,33.651887,115.589015,4.296758,7.193533,11.7784,43.885726
412,Ben Heeney,ILB,2015,OAK,2,Kansas,N,Bottom,72.25,231,9.0000,30.750000,4.59,19.000000,33.500000,120.000000,4.000000,6.680000,11.0600,43.505071
468,Paul Dawson,ILB,2015,CIN,1,TCU,N,Bottom,72.13,235,9.5000,31.500000,4.93,21.000000,28.000000,109.000000,4.490000,7.193533,11.7784,42.474520
473,Hayes Pullard,ILB,2015,CLE,1,USC,N,Bottom,72.50,240,9.6300,31.250000,4.78,19.000000,31.000000,110.000000,4.390000,7.070000,11.7784,42.441722
525,Xzavier Dickson,OLB,2015,NWE,0,Alabama,N,Bottom,75.50,260,10.0000,33.500000,4.74,19.000000,29.500000,100.000000,4.530000,7.560000,11.7784,42.237557